.button-container {
    display: flex;
    justify-content: center;
}


.boton-agregar {
    display: flex;
    flex-flow: column;
}

.itemCount-error {
    padding-top: 2rem;
    color: red;
    font-weight: 500;
}

.display-none {
    display: none !important;
}